body {
	background: white;
	color: black;
	font-family: verdana;
	text-align: justify;
	background-color: #e5e4e2;
	text-align: justify;
	text-align: center;
	margin-left:20px;
	
	
	
}

h1{
	margin: 0;
}



article#textprincipal{
	
	margin-bottom: 20px;
	margin-top: 0;
	font-size: 15px;
	color:black;
	text-align: justify;
	margin-left:150px;
	margin-right:150px;
	
}

article#textsobre{
	margin-bottom: 20px;
	margin-top: 0;
	font-size: 15px;
	color:black;
	text-align: justify;
	margin-left:150px;
	margin-right:150px;
	
}

div#imgpantanal{
	margin-left: -155px;
	width: 30%;
	border: thin solid;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	margin-left: auto;
    margin-right: auto;
	position:relative;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;	
}
div#imgpantanal2{
	margin-left: -155px;
	width: 20%;
	border: thin solid;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	margin-left: auto;
    margin-right: auto;
	position:relative;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
	
}
div#imgpantanal3{
	margin-left: -155px;
	width: 20%;
	border: thin solid;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	margin-left: auto;
    margin-right: auto;
	position:relative;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
	
	
}



header#banner {
	padding-top: 2px;
	padding-bottom: 10px;
	border: thin solid;
	position:relative;
	margin: 10px 10px 10px 10px;
	
	
}

nav{
	padding:0;
	margin: 0;
	height: 60px;
	width: 1340px;
	margin-bottom: 30px;
	border-bottom: 1px solid #000;
	
}



nav li{

	float: left;
	list-style: none;
	font-weight: bold;
	padding: 5px;
	margin: 0;
}

nav a{
	
	height: 30px;
	display: block;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 6px;
	margin: 0;
	border-radius: 0px 0px 0px 0px;
}


footer{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: white;
	
}


a#home{
	color: black;
}

a#home:hover{
	color: black;
	background-color: #e5e4e2;
	transition: 0.7s;
}
a#sobre{
	color: black;
}

a#sobre:hover{
	color: black;
	background-color: #e5e4e2;
	transition: 0.7s;
}


a#contato{
	color: black;
}

a#contato:hover{
	color: black;
	background-color: #e5e4e2;
	transition: 0.7s;
}
h3{
	color: black;
	font-family:arial;
	font-size: 20px;
	font-weight:bold;
	text-align: left;
	margin-left:150px;
	
	
}
caption{
	color: black;
	font-family:arial;
	font-size: 15px;
	text-align: left;
	
}
/* 
CSS Pagina Contatos 
*/
table.telefone{
	color: black;
	font-family:Arial, Helvetica, sans-serif ;
	font-size: 18px;
	text-align: center;
	margin-left:150px;
	margin-right:150px;
	border-collapse: collapse;
    width: 50em;
	border: 1px solid #666;
	padding: 5px 10px;
	height: 150px;
	background-color: #edf5ff;
}

table.telefone td, table.telefone th{
	border: 1px solid #AAAAAA;
	padding: 5px 2px;
}

table.telefone thead th{
	font-size: 18px;
	font-weight:bold;
	color: black;
	text-align:center;
	
}

table#tabela1{
	color: black;
	font-family:arial;
	font-size: 15px;
	text-align: left;
	margin-left:150px;
	margin-right:150px;
	
		
}

td#colorenviar button{
	font-family:Arial;
	font-size: 80%;
	color: black;
	position: relative;
	padding:5px 10px;
	top:10px;
	right:10px;
    width:80px; 
	background-color:#C0C0C0;
}





